<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covac">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Covac">
        <activity android:name=".hospitalbookingdata"></activity>
        <activity android:name=".doctorcheck" />
        <activity android:name=".mybookingsdata" />
        <activity android:name=".seconddosedata" />
        <activity android:name=".userfirstdosedata" />
        <activity android:name=".userbookingshow" />
        <activity android:name=".vaccinedata" />
        <activity android:name=".hospitaldata" />
        <activity android:name=".adminhomescreen" />
        <activity android:name=".adminsignup" />
        <activity android:name=".adminlogin" />
        <activity android:name=".adminuserlogin" />
        <activity android:name=".location" />
        <activity android:name=".Signup" />
        <activity android:name=".userhomescreen" />
        <activity android:name=".firstslide">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login" />
    </application>

</manifest>